nav {
    height: 60px;
    border-bottom: 1px solid #072a03;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9adb9053;

    .logo {
        display: flex;
        align-items: center;

        h1 {
            font-size: 26px;
            margin-right: 10px;
        }

        i {
            padding-top: 3px;
            width: 15px;
        }
    }
    
}

#app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    
    .form {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 400px;
        text-align: center;
    
        input {
            height: 30px;
        }
        input[type="text"] {
            padding-left: 5px;
        }
        input[type="submit"] {
            cursor: pointer;
            background-color: #fff;
            border: none;
            border-radius: 15px;
            box-shadow: 0px 2px 7px #585757;
            font-size: 15px;
            color: #072a03;
        }
    }
    
    #display {
        display: flex;
        flex-wrap: wrap;
        flex: .6 33%;
        justify-content: space-between;

        .student {
            border-radius: 5px;
            padding: 15px;
            width: 30%;
            min-height: 100%;
            word-wrap: break-word;
            margin-bottom: 20px;
            box-shadow: 0px 2px 7px #585757;

            .studentBanner {
                border-bottom: 2px solid #072a03;
                padding-bottom: 3px;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 500;
            }

            p {
                margin-bottom: 13px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #app {
        flex-direction: column;

        .form {
            width: 70%;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 585px) {
    #app {
        padding: 30px 0 0 0;

        #display {
            flex-direction: column;
            align-items: center;
            width: 100%;
            
            
            .student {
                width: 70%;
            }
        }
    }
}